version: '3.8'

services:
  # PHP-FPM (Laravel)
  app:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: studier-php
    volumes:
      - ./backend:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - db
    ports:
      - "9000:9000" # для доступу Nginx до PHP-FPM
    command: sh -c "php artisan migrate --force && php-fpm"

  # Nginx
  nginx:
    image: nginx:1.25
    container_name: studier-nginx
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  # MySQL
  db:
    image: mysql:9.0
    container_name: studier-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: studier
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  # phpMyAdmin
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: studier-phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - db

  # React/Vite
  frontend:
    image: node:20
    container_name: studier-react
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev"

volumes:
  db_data:
